<a href="https://colab.research.google.com/github/Ismael-Vasco/SQLite_Colab/blob/main/SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
# crear conexión en el directorio
conexion = sqlite3.connect('pruebas.db')

# crear cursor
cursor = conexion.cursor()

# crear tabla
cursor.execute("""CREATE TABLE IF NOT EXISTS productos(
                id integer primary key AUTOINCREMENT,
                titulo varchar(255),
                descripcion text,
                precio int(255))""")

#GUARDAR CAMBIOS
conexion.commit()

In [ ]:
# insertar datos
cursor.execute("""INSERT INTO productos(titulo, descripcion, precio) VALUES(
                'primer producto',
                'descripción del producto',
                550)""")

conexion.commit()

In [ ]:
# leer datos
cursor.execute("SELECT * FROM productos;")

# para leer todos los datos
productos = cursor.fetchall()

for producto in productos:
  print(producto)

# para leer de a un dato

cursor.execute("SELECT titulo FROM productos;")

producto1 = cursor.fetchone()
print(producto1)

(2, 'ordenador', 'Buen pc', 700)
(3, 'telefoo', 'Buen cel', 140)
(4, 'placa base', 'Buen placa', 80)
(5, 'tablet 15', 'Buen tablet', 300)
(6, 'libre', 'Buen facil', 7000)
('ordenador',)

In [ ]:
# para borrar datos
cursor.execute("DELETE FROM productos")

In [ ]:
# para actualizar datos
cursor.execute("UPDATE productos SET precio = 735 WHERE precio = 700;")

In [ ]:
# insertar datos de una lista

productos_lista =[
    ("ordenador", "Buen pc", 700),
    ("telefoo", "Buen cel", 140),
    ("placa base", "Buen placa", 80),
    ("tablet 15", "Buen tablet", 300),
    ("libre", "Buen facil", 7000),
]

# insertar los valores de la lista productos_lista

cursor.executemany("INSERT INTO productos(id,titulo, descripcion, precio) VALUES (null,?,?,?)", productos_lista)
conexion.commit()

In [ ]:
# cerrar conexión
conexion.close()